<section class="bg-white border-b py-8">
    <div class="container max-w-5xl mx-auto m-8">
      <h2 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">
        Mengenai E-Vonic
      </h2>
      <div class="w-full mb-4">
        <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
      </div>
      <div class="flex flex-wrap">
        <div class="w-5/6 sm:w-1/2 p-6">
          <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
            E-Vonic tuh apasih?
          </h3>
          <p class="text-gray-600 mb-8">
            Jadi... <br> E-Vonic atau Electonic Voting Skanic, yaitu aplikasi yang memudahkan pemilihan ketua OSIS di SMKN 1 Ciomas. <br>
            E-Vonic dapat diakses melalui browser pada perangkat mobile/PC-mu ya fellas! <br> <i>Enjoy the app-!</i>
            <br />
            <br />

            Images from:

            <a class="text-pink-500 underline" href="http://freepik.com">freepik.com</a>
          </p>
        </div>
        <div class="w-full sm:w-1/2 p-6">
          <img class="w-full sm:h-64 mx-auto" src="/storage/images/blue.png">

          </svg>
          <img class="w-5/6 sm:h-64 mx-auto" src="/storage/images/pie.png">
            <title>connected world</title>
            </svg>
        </div>
        <div class="w-full sm:w-1/2 p-6 mt-6">
          <div class="align-middle">
            <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
              Bagaimana cara menggunakan web-aplikasi E-Vonic?
            </h3>
            <p class="text-gray-600 mb-8">
                1) Login Menggunakan akun yang telah disediakan oleh admin.</br>
                2) Untuk melihat data kandidat bisa langsung masuk ke halaman Kandidat</br>
                3) Jika sudah yakin dan akan melaksanakan pemilihan maka segeralah
                menuju halaman voting</br>
                4) Pilih kandidat yang ingin kamu piih, lalu submit dengan tombol kirim yang tersedia.</br>
                <b>Note:</b> (Form nama, NIS dan kelas telah terisi otomatis sehingga kamu tidak perlu mengubah lagi)</br>
                5) Selesai! Suaramu telah terkirimkan.
              <br />
              <br />
              Images from:

              <a class="text-pink-500 underline" href="https://freepik.com/">freepik/a>
            </p>
          </div>
        </div>

                            <div class="container">
                            <a href="/voting" class="btn btn-primary font-semibold">Coba Voting Sekarang</a>
                            </div>
      </div>
    </div>
  </section>

